.container {
  width: 100%;
  height: 600px;
  display: flex;
  gap: 5px;
  padding: 1rem 0;
}

.container:hover .image:not(:hover) {
  filter: blur(10px);
}

.expand_img {
  height: 100%;
  flex: 1;
  overflow: hidden;
  cursor: pointer;
  border-radius: 2px;
  transition: all 0.7s ease;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}

.expand_img:hover {
  flex: 5;
}

.image:hover {
  scale: 1.15;
  opacity: 1;
  object-position: center top;
}

.image {
  scale: 1;
  filter: blur(0px);
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  transition: scale 0.75s ease, opacity 0.5s ease;
  opacity: 0.5;
}
